[Unit]
Description=Service for running the backup client.
After=network-online.target

[Service]
Type=simple
User=backup
ExecStart=/usr/bin/java -jar /home/barnaby/Documents/Home/BackupServer/backup/client/client.jar /home/barnaby/Documents/Home/BackupServer/backup/client/clientConfig

[Install]
WantedBy=multi-user.target
